.idea
coorpacademy.iml
.DS_Store
_ai-cache
.sass-cache/
.nodemonignore
node_modules/
public/lib
test/coverage/
node_modules
.tmp
data/
app/bower_components
target
build
!core/public/libs/**/build
test-results.xml
.grunt
*.log
*.pid
documentation/doc-groc
.aws.json
.vagrant/
docs/_build
log/mail/*
/nbproject/private/
/nbproject
/locales
dump.rdb
*.tmp
/tmp
*.zip
*.map
.netrc
.bower.json
.travis.yml
desktop.ini
*.sublime-project
*.sublime-workspace
